/*
Theme Name: Understrap Child
Template: understrap

Author: Andrew Kravchenko
Author URI: https://wpguru.press
Description: Test task
Version: 1.0.0
*/

@import url("../understrap/style.css");

#secondary img, article img, figure, img, img.wp-post-image {
    max-width: 50%;
    height: auto;
}

body {
    background-color: #d9dfe1;
}
input {
    width: 300px;
}
select {
    width: 300px;
}

#realtycontent {
    position: relative;
    padding: 40px;
}


#realtycontent .realtygrid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 100%));
    max-width: 1400px;
    justify-content: center;
    grid-gap: 20px;
    margin: 10px auto 10px auto;
}

#realtycontent .realtyitem {
    position: relative;
    display: inline-block;
    background: rgba(200, 255, 255, 0.5);
    box-shadow: 0 0 0 3px #000;
    width: 100%;  
}

#realtycontent .realtyitem .realtydiv {
    position: relative;    
    width: 100%;
    /*height: 200px;*/
    overflow: hidden;
    background: #eae0dc;    
}

@media screen and (max-width: 1460px){
    #realtycontent .realtygrid {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }    
}

@media screen and (max-width: 1020px){  
     #realtycontent .realtygrid {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }   
}

@media screen and (max-width: 800px){
    #realtycontent .realtygrid {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}